<div class="content">
    <div class="container-fluid">
        <div class="page-title-box">
            <div class="page-title-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">UBold</a></li>
                        <li class="breadcrumb-item"><a href="/pages/invoice">Extra Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sitemap</li>
                    </ol>
                </nav>
            </div>
            <h4 class="page-title">Sitemap</h4>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <!-- Column 1 -->
                    <div class="col-lg-4">
                        <ul class="sitemap">
                            <li><a class="fw-bold text-uppercase" href="/ubold_r/dark/pages/sitemap">Ubold Pages</a>
                                <ul>
                                    <li><a href="/ubold_r/dark/pages/sitemap">Dashboards</a>
                                        <ul>
                                            <li><a href="/ubold_r/dark/pages/sitemap">Analytics</a></li>
                                            <li><a href="/ubold_r/dark/pages/sitemap">Minimal</a></li>
                                            <li><a href="/ubold_r/dark/pages/sitemap">eCommerce</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/ubold_r/dark/pages/sitemap">Applications</a>
                                        <ul>
                                            <li><a href="/ubold_r/dark/pages/sitemap">CRM</a>
                                                <ul>
                                                    <li><a href="/ubold_r/dark/pages/sitemap">Dashboard</a></li>
                                                    <li><a href="/ubold_r/dark/pages/sitemap">Contacts</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/ubold_r/dark/pages/sitemap">eCommerce</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- Column 2 -->
                    <div class="col-lg-4">
                        <ul class="sitemap">
                            <li><a class="fw-bold text-uppercase" href="/ubold_r/dark/pages/sitemap">Ubold</a>
                                <ul>
                                    <li><a href="/ubold_r/dark/pages/sitemap">About</a></li>
                                    <li><a href="/ubold_r/dark/pages/sitemap">Works</a></li>
                                    <li><a href="/ubold_r/dark/pages/sitemap">Contact</a></li>
                                    <li><a href="/ubold_r/dark/pages/sitemap">Recruit</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- Column 3 -->
                    <div class="col-lg-4">
                        <ul class="sitemap">
                            <li><a class="fw-bold text-uppercase text-primary" href="/ubold_r/dark/pages/sitemap">About</a>
                                <ul>
                                    <li><a href="/ubold_r/dark/pages/sitemap">Business</a></li>
                                    <li><a href="/ubold_r/dark/pages/sitemap">Philosophy</a></li>
                                </ul>
                            </li>
                            <li><a class="text-danger" href="/ubold_r/dark/pages/sitemap">Contact</a></li>
                            <li><a class="text-warning" href="/ubold_r/dark/pages/sitemap">Recruit</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>